#{extends 'standardForm.html' /}
#{set title:'Cenovnici' /}

<script>
$(document).ready(function(){
	$("#porezPickup").click(function(){
		id = $(".highlighted").find(".id").html();
		$("select").val(id);
		$('#porezModal').modal('toggle');
	});
});
function sync(item){
	datumPrimene = item.find(".datumPrimene").html()
    id = item.find(".id").html()
    $("#datumPrimene").val(datumPrimene);
    $("#id").val(id);
}
</script>

<p>
<ul>
  <li><a href="@{Cenovnici.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Cenovnici.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="@{Cenovnici.show("remove")}" id ="remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
  <li><a href="@{Cenovnici.show("copy")}" id = "copy"><img/>Kopiraj cenovnik</a></li>
  <li><a href="@{Application.index}" id = "nextform">MAIN PAGE</a></li>
  
</ul>
</p>

<div class = "container-fluid">
<h1>Cenovnici</h1>

<table>
	<tr class = "header">
	   <th>Datum primene</th> 
	   <th>Preduzece</th>
	</tr>
#{list items:cenovnici, as:'i'}
	<tr>
		<td class = "datumPrimene">${i.datumPrimene}</td>
		<td class = "preduzece">${i.preduzece.naziv}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${i.id}</td>
	</tr>
#{/list}
</table>

#{set 'action'}
    #{if mode == 'add'}
        @{Cenovnici.add()}
    #{/if}
    #{elseif mode == 'edit'}
        @{Cenovnici.edit()}
    #{/elseif}
    #{elseif mode == 'copy'}
		 @{Cenovnici.copy()}
 	#{/elseif}
    #{elseif mode == 'remove'}
        @{Cenovnici.delete()}
    #{/elseif}
    #{else}
       @{Cenovnici.filter()}
    #{/else}
  #{/set}

<div class = "panel">
	<p>
	
		<form action = "${action}">
			
			#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
			#{/}
			
			<p>
			#{field 'datumPrimene'}
					<label for = "${field.id}">Datum primene</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
			#{/}
			</p>
			<p>
			#{field 'preduzece'}
				<label for = "${field.id}">Preduzece</label>
				<select name = "${field.name}" id = "${field.id}"/>
			#{list items:preduzeca, as:'i'}
				<option value = "${i.id}">${i.naziv}</option>
			#{/list}
				</select>
					
				 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#porezModal">...	</button>
			#{/}
			</p>
			<p>
				#{field 'procenat'}
					<label id="procenatL" for = "${field.id}">Procenat</label>
					<input type = "number" name = "${field.name}" id = "procenat"/>
					<p><input type="checkbox" name="povecanje" id="povecanje"> Povecanje</input></p>
					<p><input type="checkbox" name="smanjenje" id="smanjenje"> Smanjenje</input></p>
				#{/}
				
				</p>
			
			
			<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{Cenovnici.show("")}" style="margin-left:1em">Rollback</a>
				</div>	
		</form>
			</p>
</div>