#{extends 'standardForm.html' /}
#{set title:'Poslovne godine' /}

<script>
$(document).ready(function(){
	$("#porezPickup").click(function(){
		id = $(".highlighted").find(".id").html();
		$("select").val(id);
		$('#porezModal').modal('toggle');
	});
});

function sync(item){
	godina = item.find(".godina").html()
	zakljucena = item.find(".zakljucena").html()
    id = item.find(".id").html()
    $("#godina").val(godina);
	$('#zakljucena').val(zakljucena);
    $("#id").val(id);
}

function checkYear(){
	var href = window.location.search;
	var param = href.substring(href.indexOf("?")+1);
	var godinaInput = document.getElementById("godinput").value;
	if(param == "mode=add" || param == "mode=" || param == "mode=edit"){
		var trenutna = new Date().getFullYear()
		if(trenutna != godinaInput){
			alert("Mora biti trenutna godina!")
			return false;
		}
	}
	return true;
}

</script>

<p>
<ul>
  <li><a href="@{PoslovneGodine.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{PoslovneGodine.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="@{PoslovneGodine.show("remove")}" id ="remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<div class = "container-fluid">
<h1>Poslovne godine</h1>

<table>
	<tr class = "header">
	   <th>Godina</th> 
	   <th>Zakljucena (Da/Ne)</th>
	   <th>Preduzece</th>
	</tr>
#{list items:poslovneGodine, as:'i'}
	<tr>
		<td id="godinput" class = "godina">${i.godina}</td>
		<td class = "zakljucena">${i.zakljucena}</td>
		<td class = "preduzece">${i.preduzece.naziv}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${i.id}</td>
	</tr>
#{/list}
</table>

#{set 'action'}
    #{if mode == 'add'}
        @{PoslovneGodine.add()}
    #{/if}
    #{elseif mode == 'edit'}
        @{PoslovneGodine.edit()}
    #{/elseif}
    #{elseif mode == 'remove'}
        @{PoslovneGodine.delete()}
    #{/elseif}
    #{else}
       @{PoslovneGodine.filter()}
    #{/else}
  #{/set}

<div class = "panel">
	<p>
	
		<form action = "${action}">
			
			#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
			#{/}
			
			<p>
			#{field 'godina'}
					<label for = "${field.id}">Godina</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'zakljucena'}
					<label for = "${field.id}">Zakljucena (Da/Ne)</label>
					<input type = "checkbox" checked="checked" value="true" name = "${field.name}" id = "${field.id}"/>
			#{/}
			</p>
			
			<p>
			#{field 'preduzece'}
				<label for = "${field.id}">Preduzece</label>
				<select name = "${field.name}" id = "${field.id}"/>
			#{list items:preduzeca, as:'i'}
				<option value = "${i.id}">${i.naziv}</option>
			#{/list}
				</select>
					
				 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#porezModal">...	</button>
			#{/}
			</p>
			
			<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em" onClick="return checkYear();"/>
					<a href = "@{PoslovneGodine.show("")}" style="margin-left:1em">Rollback</a>
				</div>	
		</form>
			</p>
</div>