#{extends 'standardForm.html' /}
#{set title:'Stavke narudzbenice' /}

<script>
$(document).ready(function(){
	$("#porezPickup").click(function(){
		id = $(".highlighted").find(".id").html();
		$("select").val(id);
		$('#porezModal').modal('toggle');
	});
});

function sync(item){
	kolicina = item.find(".kolicina").html()
	cenaPoJediniciMere = item.find(".cenaPoJediniciMere").html()
	ukupnaCena = item.find(".ukupnaCena").html()
    id = item.find(".id").html()
    $("#kolicina").val(kolicina);
    $("#cenaPoJediniciMere").val(cenaPoJediniciMere);
    $("#ukupnaCena").val(ukupnaCena);
    $("#id").val(id);
}

</script>

<p>
<ul>
  <li><a href="@{StavkeNarudzbenice.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="http://localhost:9000/stavkenarudzbenice/show" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{StavkeNarudzbenice.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="@{StavkeNarudzbenice.show("remove")}" id ="remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
  <li><a href="@{Application.index}" id = "nextform">MAIN PAGE</a></li>
</ul>
</p>

<div class = "container-fluid">
<h1>Stavke narudzbenice</h1>

<table>
	<tr class = "header">
	   <th>kolicina</th> 
	   <th>Cena po jedinici mere</th>
	   <th>Ukupna cena</th>
	   <th>Roba/Usluga</th>
	   <th>Narudzbenica</th>
	</tr>
#{list items:stavkeNarudzbenice, as:'i'}
	<tr>
		<td class = "kolicina">${i.kolicina}</td>
		<td class = "cenaPoJediniciMere">${i.cenaPoJediniciMere}</td>
		<td class = "ukupnaCena">${i.ukupnaCena}</td>
		<td class = "robaUsluga">${i.robaUsluga.naziv}</td>
		<td class = "narudzbenica">${i.narudzbenica.brojNarudzbenice}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${i.id}</td>
	</tr>
#{/list}
</table>

#{set 'action'}
    #{if mode == 'add'}
        @{StavkeNarudzbenice.add()}
    #{/if}
    #{elseif mode == 'edit'}
        @{StavkeNarudzbenice.edit()}
    #{/elseif}
    #{elseif mode == 'remove'}
        @{StavkeNarudzbenice.delete()}
    #{/elseif}
    #{else}
       @{StavkeNarudzbenice.filter()}
    #{/else}
  #{/set}

<div class = "panel">
#{ifErrors}
   <p style="color: red;">Greska!</p>
#{/ifErrors}
	<p>
	
		<form action = "${action}">
			
			#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
			#{/}
			
			<p>
			#{field 'kolicina'}
					<label for = "${field.id}">Kolicina</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
					<span class="error">#{error 'kolicina' /}</span>
			#{/}
			</p>
			
			<p>
			#{field 'cenaPoJediniciMere'}
					<label for = "${field.id}">Cena po jedinici mere</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
			#{/}
			</p>
			
			
			
			<p>
			#{field 'robaUsluga'}
				<label for = "${field.id}">Roba usluga</label>
				<select name = "${field.name}" id = "${field.id}"/>
			#{list items:robaUsluga, as:'i'}
				<option value = "${i.id}">${i.naziv}</option>
			#{/list}
				</select>
					
				 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#porezModal">...	</button>
			#{/}
			</p>
			
			<p>
			#{field 'narudzbenica'}
				<label for = "${field.id}">Narudzbenica</label>
				<select name = "${field.name}" id = "${field.id}"/>
			#{list items:narudzbenice, as:'i'}
				<option value = "${i.id}">${i.brojNarudzbenice}</option>
			#{/list}
				</select>
					
				 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#porezModal">...	</button>
			#{/}
			</p>
			
			
			<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{StavkeNarudzbenice.show("")}" style="margin-left:1em">Rollback</a>
				</div>	
		</form>
			</p>
</div>