#{extends 'standardForm.html' /}
#{set title:'Poslovni partneri' /}

<script>
$(document).ready(function(){
	$("#porezPickup").click(function(){
		id = $(".highlighted").find(".id").html();
		$("select").val(id);
		$('#porezModal').modal('toggle');
	});
});

function sync(item){
	nazivPartnera = item.find(".nazivPartnera").html()
    adresa = item.find(".adresa").html()
    vrstaPartnera = item.find(".vrstaPartnera").html()
	id = item.find(".id").html()
    $("#nazivPartnera").val(nazivPartnera);
	$("#adresa").val(adresa);
	$("#vrstaPartnera").val(vrstaPartnera);
    $("#id").val(id);
}

</script>

<p>
<ul>
  <li><a href="@{PoslovniPartneri.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{PoslovniPartneri.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="@{PoslovniPartneri.show("remove")}" id ="remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<div class = "container-fluid">
<h1>Poslovni partneri</h1>

<table>
	<tr class = "header">
	   <th>Naziv partnera</th>
	   <th>Adresa</th>
	   <th>Vrsta partnera</th> 
	   <th>Preduzece</th>
	</tr>
#{list items:poslovniPartner, as:'i'}
	<tr>
		<td class = "nazivPartnera">${i.nazivPartnera}</td>
		<td class = "adresa">${i.adresa}</td>
		<td class = "vrstaPartnera">${i.vrstaPartnera}</td>
		<td class = "preduzece">${i.preduzece.naziv}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${i.id}</td>
	</tr>
#{/list}
</table>

+#{set 'action'}
    #{if mode == 'add'}
        @{PoslovniPartneri.add()}
    #{/if}
    #{elseif mode == 'edit'}
        @{PoslovniPartneri.edit()}
    #{/elseif}
    #{elseif mode == 'remove'}
        @{PoslovniPartneri.delete()}
    #{/elseif}
    #{else}
       @{PoslovniPartneri.filter()}
    #{/else}
  #{/set}

<div class = "panel">
	<p>
	
		<form action = "${action}">
			
			#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
			#{/}
			<p>
			#{field 'nazivPartnera'}
					<label for = "${field.id}">Naziv partnera</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
			#{/}
			</p>
			<p>
			#{field 'adresa'}
					<label for = "${field.id}">Adresa</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
			#{/}
			</p>
			<p>
			#{field 'vrstaPartnera'}
					<label for = "${field.id}">Vrsta partnera</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
			#{/}
			</p>
			<p>
			#{field 'preduzece'}
				<label for = "${field.id}">Preduzece</label>
				<select name = "${field.name}" id = "${field.id}"/>
			#{list items:preduzece, as:'i'}
				<option value = "${i.id}">${i.naziv}</option>
			#{/list}
				</select>
					
				 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#porezModal">...	</button>
			#{/}
			</p>
			
			
			<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{PoslovniPartneri.show("")}" style="margin-left:1em">Rollback</a>
				</div>	
		</form>
			</p>
</div> 